/* html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
} */

/* .from {
    padding: 10px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.wave-container,
.wave-container2 {
    position: relative;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.wave-container {
    background: linear-gradient(90deg, coral 0%, purple 100%);
}

.wave-container2 {
    background: white;
    color: black;
}

.wave-container>svg,
.wave-container2>svg {
    display: block;
}

.shadow {
    filter: drop-shadow(-10px -6px 10px rgba(0, 0, 0, 0.1));
}

h1 {
    font-size: 5rem;
    margin: 7rem 1.25rem 2.5rem 1.25rem;
}

.from:not p {
    font-size: 1.5rem;
    margin: 0 1.25rem 5rem 1.25rem;
} */













@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* .allz {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');

.component {
    font-family: 'Cinzel Decorative';
    text-align: center;
    margin-bottom: 0px;
}

.text {
    font-size: 4rem;
    letter-spacing: 5px;
    color: white;
    margin: 0px;
}

.reflect {
    font-size: 4rem;
    letter-spacing: 5px;
    background: linear-gradient(white, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: rotateX(180deg);
    margin-top: -15px;
    opacity: 10%;
}

.bod {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: #ecf0f3; */
}

/* .container-about, */
.container-about .img-area {
    width: 100%;
}

.social-icons a,
.buttons button {
    /* background: #ecf0f3; */
    box-shadow: -1px -1px 7px #ffffff,
        3px 3px 5px #ceced1;
    width: 100%;
}

.container-about {
    position: relative;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.container .img-area {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-area .inner-area {
    height: 100%;
    width: 100%;
    /* height: calc(100% - 25px);
    width: calc(100% - 25px); */
    border-radius: 50%;
}

.inner-area img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.container-about .name {
    font-size: 23px;
    font-weight: 500;
    /* color: #31344b; */
    color: white;
    margin: 10px 0 5px 0;
}

.container-about .about {
    /* color: #44476a; */
    margin: 3%;
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.container-about .social-icons {
    margin: 15px 0 25px 0;
}

.social-icons a {
    background-color: white;
    position: relative;
    height: 40px;
    width: 40px;
    margin: 0 15px;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50%;
}


/* .social-icons a i {
    position: relative;
    z-index: 3;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 40px;
} */
/* 
.social-icons a.fb i {
    color: #4267B2;
}

.social-icons a.twitter i {
    color: #1DA1F2;
}

.social-icons a.insta i {
    color: #E1306C;
}

.social-icons a.yt i {
    color: #ff0000;
} */

.container-about .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.buttons button {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 0;
    color: #31344b;
    font-size: 17px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
}

.buttons button:first-child {
    margin-right: 10px;
}

.buttons button:last-child {
    margin-left: 10px;
}

.container-about .social-share {
    display: flex;
    width: 100%;
    margin-top: 30px;
    padding: 0 5px;
    justify-content: space-between;
}

.social-share .row {
    color: #31344b;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}

.social-share .row::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    background: #e0e6eb;
    margin-left: -25px;
}

.row:first-child::before {
    background: none;
}

.social-share .row i.icon-2 {
    position: absolute;
    left: 0;
    top: 50%;
    color: #31344b;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.row:nth-child(1):hover i.fa-heart,
.row:nth-child(2):hover i.fa-comment {
    opacity: 1;
    pointer-events: auto;
}








.about-titles {
    /* margin-top: 10%; */
    text-align: center;
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}

.about-para {
    /* width: 100%; */
    /* text-align: center; */
    margin: 5%;
    /* max-width: 60%; */
}



.subtitle {
    padding: 2rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}














.btn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    /* font-size: 15px; */
    /* background-color: #222; */
    padding: 17px 20px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.btn a {
    position: relative;
    z-index: 1;
}

.btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 130%;
    background: #78c7d2;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    /* -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg); */
}

.btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.link {
    /* font-size: 20px; */
    margin-top: 30px;
}

.link a {
    /* color: #000; */
    /* font-size: 25px; */
}