@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');

:root {
    --yellow-color: white;
    --yellow-color-opacity: #f9f00242;
    --orange-color: #ff9800;
    --border-color: #8ae66e;
    --red-color: #ff003c;
    --blue-color: #136377;
    --green-color: #446d44;
    --purple-color: purple;
    --neon-color: #39ff14;
}


p.cyberpunk {
    padding: 30px 15px 30px;
    border: 30px solid #009E60;
    border-right: 5px solid #009E60;
    border-left: 5px solid #009E60;
    border-bottom: 24px solid #009E60;
    padding: 5px;
    clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
    /* background-color: var(--yellow-color); */
    background-color: white;
    font-size: 1.2rem;
    position: relative;
}

p.cyberpunk.inverse {
    border: none;
    padding: 40px 15px 30px;
    clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
    background-color: #009E60;
    color: var(--yellow-color);
    border-right: 3px solid var(--border-color);
}

p.cyberpunk:before {
    content: "P-14";
    display: block;
    position: absolute;
    bottom: -12px;
    right: 25px;
    padding: 2px 2px 0px 2px;
    font-size: 0.6rem;
    line-height: 0.6rem;
    color: #000;
    /* background-color: var(--yellow-color); */
    background-color: white;
    border-left: 2px solid var(--border-color);
}

p.cyberpunk.inverse:before {
    content: "T-71";
    right: 90px;
    bottom: 9px;
}

section.cyberpunk.black p.cyberpunk.inverse:before,
section.cyberpunk.black p.cyberpunk:before {
    background-color: #009E60;
    color: var(--yellow-color);
}


ul.cyberpunk li {
    list-style: none;
    position: relative;
    font-size: 1rem;
}

ul.cyberpunk li:before {
    content: " ";
    top: 0px;
    left: calc(-1.2rem - 10px);
    width: 1.2rem;
    height: 1.2rem;
    background-color: #009E60;
    position: absolute;
    display: block;
    clip-path: polygon(0% 10%, 100% 70%, 40% 100%, 50% 70%);
}

ol.cyberpunk {
    list-style-type: hiragana-iroha;
    counter-reset: li
}

ol.cyberpunk li {
    list-style: none;
    position: relative;
    font-size: 1rem;
    counter-increment: li;
}

ol.cyberpunk li:before {
    content: counter(li);
    top: 0px;
    left: calc(-1.2rem - 10px);
    width: 1.2rem;
    height: 1.2rem;
    color: var(--yellow-color);
    background-color: #009E60;
    font-weight: 700;
    position: absolute;
    display: block;
    clip-path: polygon(0% 0%, 60% 0%, 100% 40%, 100% 100%, 0% 100%);
}


/* Section */
section.cyberpunk {
    /* background-color: var(--yellow-color); */
    background-color: white;
    color: #000;
    padding: 30px 30px;
    position: relative;
    margin-top: -1px;
    margin-bottom: -1px;
}

section.cyberpunk:after,
section.cyberpunk.clack:after {
    content: " ";
    display: block;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background-color: #009E60;
    position: absolute;
    clip-path: polygon(0% 0%, 22% 0%, calc(22% + 30px) 30px, 52% 30px, calc(52% + 15px) 15px, 70% 15px, calc(70% + 15px) 30px, 90% 30px, calc(90% + 30px) 0px, 100% 0px, 100% 30px, 0px 30px);
}

section.cyberpunk.black:after {
    /* background-color: var(--yellow-color); */
    background-color: white;
}

section.cyberpunk.black {
    background-color: #009E60;
    color: var(--yellow-color);
}

.dotted,
.dotted:before,
.dotted:after {
    background: #000;
    background-image: radial-gradient(var(--yellow-color-opacity) 1px, transparent 0);
    background-size: 5px 5px;
    background-position: -13px -3px;
}

section.cyberpunk.black .dotted,
section.cyberpunk.black .dotted:before,
section.cyberpunk.black .dotted:after {
    background: var(--yellow-color);
    background-image: radial-gradient(#00000021 1px, transparent 0);
    background-size: 5px 5px;
    background-position: -13px -3px;
}

section.cyberpunk:before,
section.cyberpunk.black:before {
    content: " ";
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    /* background-color: var(--yellow-color); */
    background-color: white;
    position: absolute;
    clip-path: polygon(calc(22% + 28px) -1px, calc(22% + 45px) 15px, 34% 15px, calc(34% + 15px) -1px, 70% 0px)
}

section.cyberpunk:before {
    background-color: #009E60;
}

section.cyberpunk:nth-child(even):after,
section.cyberpunk:nth-child(odd):before {
    transform: scaleX(-1);
}

section.cyberpunk.black h1,
section.cyberpunk.black h2,
section.cyberpunk.black h3,
section.cyberpunk.black h4 {
    color: var(--yellow-color);
}

section.cyberpunk.black h1:before,
section.cyberpunk.black h2:before,
section.cyberpunk.black h3:before,
section.cyberpunk.black h4:before,
section.cyberpunk.black hr {
    /* background-color: var(--yellow-color); */
    background-color: white;
}

section.cyberpunk.black img.cyberpunk {
    /* background-color: var(--yellow-color); */
    background-color: white;
}

section.cyberpunk.black textarea.cyberpunk,
section.cyberpunk.black input[type="text"].cyberpunk,
section.cyberpunk.black select.cyberpunk {
    border-color: var(--yellow-color);
    background-color: #009E60;
    color: var(--yellow-color);
}

section.cyberpunk.black input[type="radio"].cyberpunk {
    /* background-color: var(--yellow-color); */
    background-color: white;
}

section.cyberpunk.black input[type="radio"].cyberpunk:after {
    background-color: #009E60;
}

section.cyberpunk.black input[type="radio"].cyberpunk:checked:after {
    background-color: var(--red-color);
}


section.cyberpunk.black input[type="checkbox"].cyberpunk:checked:before {
    border-color: var(--red-color);
    border-top-color: transparent;
}

section.cyberpunk.black input[type="checkbox"].cyberpunk:checked:after {
    background-color: var(--red-color);
}

section.cyberpunk.black p.cyberpunk {
    border: 30px solid var(--yellow-color);
    border-right: 5px solid var(--yellow-color);
    border-left: 5px solid var(--yellow-color);
    border-bottom: 24px solid var(--yellow-color);
    background-color: #009E60;
}

section.cyberpunk.black p.cyberpunk.inverse {
    border: none;
    /* background-color: var(--yellow-color); */
    background-color: white;
    color: #000;
    border-right: 2px solid var(--border-color);
}

section.cyberpunk.black ul.cyberpunk li:before {
    /* background-color: var(--yellow-color); */
    background-color: white;
}

section.cyberpunk.black ol.cyberpunk li:before {
    color: #000;
    /* background-color: var(--yellow-color); */
    background-color: white;
}




.glasso {
    background: rgba(255, 255, 255, .01);
    /* border-radius: 16px; */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    /* padding: 2rem; */
    color: #fff;
}





.sticky-sec {
    font-family: 'Cinzel Decorative';
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    font-weight: 700;
    padding: 1rem 2rem;
    z-index: 50;
}